# refer to https://supabase.com/dashboard/projects to collect the following keys related to your supabase account
VITE_SUPABASE_URL=https://ombenjytagzwkfgamggw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tYmVuanl0YWd6d2tmZ2FtZ2d3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjUwMjYyMDEsImV4cCI6MjA0MDYwMjIwMX0.u4g4R_NZ8mAY4fKe0MS8E0P-lXqn891iyI2W17zKXJY